@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <h1 class="display-2">Bienvenido a la soluci&oacute;n web para sus reservas de vuelos!</h1>

    <br />
    <br />
    <br />

    <div class="text-lg-center">
        <p>
            Si desea hacer una reserva pulse el link en la parte superior "Reservar".
            <br />
            Si desea consultar una reserva pulse el link en la parte superior "Consultar".
            <br />
        </p>
    </div>
    
</div>
