@model WebApplication3.Models.ViewModels.ReservationViewModel
@{
    ViewData["Title"] = "ContinueReservation";
}

<h1>CONTINUAR CON TU RESERVA</h1>

<br />
<hr />
<br />

<div class="row">
    <form asp-action="FinalizeReservation" method="get">
        <div class="form-group row just">
            <div class="col-sm-4 form-group">
                <label class="control-label">Nombre</label>
                <input type="text" name="contactName" required />
            </div>
            <div class="col-sm-4 form-group">
                <label class="control-label">Correo Electr&oacute;nico</label>
                <input type="email" name="contactEmail" required />                
            </div>
            <div class="col-sm-4 form-group">
                <label class="control-label">Tel&eacute;fono</label>
                <input type="number" name="contactPhone" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Finalizar Reservaci&oacute;n" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>

<br />


<div class="row">
    <form id="formPassenger">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" id="txtName"/>
        </div>
        <div class="form-group">
            <label>Fecha de Nacimiento</label>
            <input type="date" id="datBirthDate"/>
        </div>
        <div class="col-md-1 form-group">
            <input type="button" value="A&ntilde;adir pasajero" id="btnAdd" class="btn btn-primary btn-sm" />
        </div>
    </form>
</div>

@if (ViewBag.MessageOp != null)
{
    <div class="alert alert-danger text-center">
        <p>@ViewBag.MessageOp</p>
    </div>
}

<div id="result">

</div>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(function () {
        $("#btnAdd").click(function (){

            var url = "@Url.Action("AddPassenger", "BookingFlow")";
            var name = $("#txtName").val();
            var date = $("#datBirthDate").val();
            var data = { name: name, date: date };

            $.get(url, data).done(function (data) {
                $("#result").html(data);
            });
        });
    });



</script>


