@model WebApplication3.EntityLayer.ViewModels.ReservationViewModel
@{
    ViewData["Title"] = "ContinueReservation";
}

<div class="back-img">

</div>
<h1 class="text-center">CONTINUAR CON TU RESERVA</h1>

<br />
<hr />
<br />

<div class="row justify-content-center">
    <form asp-action="FinalizeReservation" method="get">
        <div class="form-group row justify-content-center">
            <div class="col-sm-4 form-group">
                Nombre:
                <input type="text" name="contactName" class="form-control" required />
            </div>
            <div class="col-sm-4 form-group">
                Correo Electr&oacute;nico:
                <input type="email" name="contactEmail" class="form-control" required />
            </div>
            <div class="col-sm-4 form-group">
                Tel&eacute;fono:
                <input type="number" name="contactPhone" class="form-control" min="0" required />
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Finalizar Reservaci&oacute;n" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </form>
</div>

<br />
<hr />
<br />

<div class="row justify-content-center">
    <form id="formPassenger">
        <div class="form-group row justify-content-center">
            <div class="col form-group">
                Nombre:
                <input type="text" id="txtName" class="form-control" />
            </div>
            <div class="col form-group">
                Fecha de Nacimiento:
                <input type="date" id="datBirthDate" class="form-control" />
            </div>
        </div>
        <div class="col form-group text-center">
            <input type="button" value="A&ntilde;adir pasajero" id="btnAdd" class="btn btn-primary btn-sm" />
        </div>
    </form>
</div>

@if (ViewBag.MessageOp != null)
{
    <div class="alert alert-danger text-center">
        <p>@ViewBag.MessageOp</p>
    </div>
}

<div id="result">

</div>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $("#btnAdd").click(function (){

                var url = "@Url.Action("AddPassenger", "BookingFlow")";
                var name = $("#txtName").val();
                var date = $("#datBirthDate").val();
                var data = { name: name, date: date };

                $.get(url, data).done(function (data) {
                    $("#result").html(data);
                });
            });
        });

    </script>
}



