@model WebApplication3.Models.ViewModels.SearchFlightsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>BUSCAR VUELOS DISPONIBLES</h1>

<br />
<hr />
<br />

<div class="row">
    <form asp-action="Index">
        <div class="form-group">
            <select asp-for="Origin" class="form-control" required>
                <option value="MDE">Medell&iacute;n</option>
                <option value="BOG">Bogot&aacute;</option>
                <option value="CTG">Cartagena</option>
                <option value="PEI">Pereira</option>
                <option selected>Origen</option>
            </select>
        </div>
        <div class="form-group">
            <select asp-for="Destination" class="form-control" required>
                <option value="MDE">Medell&iacute;n</option>
                <option value="BOG">Bogot&aacute;</option>
                <option value="CTG">Cartagena</option>
                <option value="PEI">Pereira</option>
                <option selected>Destino</option>
            </select>
        </div>
        <div class="form-group">
            <input type="date" asp-for="From" required />
        </div>
        <div class="form-group">
            <input type="submit" value="Buscar Vuelos" class="btn btn-primary btn-sm"/>
        </div>
    </form>
</div>

<br />
<hr />
<br />

@if(Model != null)
{
    <div>
        <table class="table table-striped table-hover table-sm">
            <thead class="thead-dark">
                <th>
                    Origen
                </th>
                <th>
                    Destino
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Acciones
                </th>
            </thead>
            <tbody>
                @foreach(var i in Model.Flights)
                {
                    <tr>
                        <td>
                            @i.DepartureStation
                        </td>
                        <td>
                            @i.ArrivalStation
                        </td>
                        <td>
                            @i.DepartureDate.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                        <td>
                            @{
                                var parms = new Dictionary<string, string>
                                {
                                    { "departure", i.DepartureStation },
                                    { "arrival", i.ArrivalStation },
                                    { "departureDate", i.DepartureDate.ToString("yyyy-MM-dd HH:mm:ss") },
                                    { "number", i.FlightNumber.ToString() },
                                    { "price" , i.Price.ToString() },
                                    { "currency" , i.Currency }
                                };
                            }
                            <a asp-action="ContinueReservation" asp-all-route-data="parms">Continuar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if(ViewBag.Exception != null)
{
    <label class="text-danger text">@ViewBag.Exception</label>
}

